@page "/fetchdata"

@using MangaUpdater.Domain.Common
@using MangaUpdater.Services
@inject IMediaService MediaService

<h1>Media List</h1>

<p>Search</p>

<input @bind-value="Search" @bind-value:event="onchange" />

@if (_medias == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>AniList ID</th>
            <th>English Title</th>
            <th>Romaji Title</th>
            <th>Native Title</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var media in _medias)
        {
            <tr>
                <td>@media.AniListId</td>
                <td>@media.TitleEnglish</td>
                <td>@media.TitleRomaji</td>
                <td>@media.TitleNative</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<Media> _medias;

    protected string Search
    {
        get { return _search; }
        set
        {
            _search = value;
            SearchMedia(value);

        }
    }

    private string _search;

    protected override async Task OnInitializedAsync()
    {

    }


    protected async void SearchMedia(string name)
    {
        _medias = await MediaService.GetMediasByName(name);
    }

}